#click {
    display: flex;
    align-items: center;
    font-size: small;
    height: 50px;
    width:150px;
    border-radius: 10px;
    border: none;
    justify-content: center;

}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#click:hover {
    background: bisque;
}

#click:active {
    background-color: rgb(221, 184, 103)55, 255);
    box-shadow: chocolate;
    transform: translateX(3px);
}

#body {
    background: beige;
    margin: 0;
    padding: 0;
}